<footer class="text-center w-full py-4 px-4">
    <div>
      <small class="text-gray-500">
        🇺🇸 US Office: Makisu.co LLC, 101 Augustine Drive, Martinez, CA 94553-6601 | Phone: +1 (925) 567-2842
      </small>
    </div>
    <div>
      <small class="text-gray-500">
        🇵🇭 PH Office: Makisu Software Consulting Services, 7F Finman Building, 131 Tordesillas St, Salcedo Village, Makati
        City | Phone: +63 (917) 883-8668
      </small>
    </div>
    <small class="text-gray-500">Copyright © 2021
      {{settings.author}}. All rights reserved.
    </small>
</footer>
